*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;

}
:root{
   
    --clr-prim: #3E92CC;
    --clr-secondary: #1E1B18;
    --clr-petal-one: #D8315B;
    --clr-petal-tow: #FFFAFF;
    --clr-petal-center: #0A2463;

    /* Table color */
    --clr-yallow:#FEE440;
    --clr-trkwaz:#00F5D4;
    --clr-mov:#F15BB5;
    --clr-nahdy:#9B5DE5;
    --clr-blue:#00BBF9;
    --clr-white:#F0EAD2;
    --clr-gray:#DDE5B6;
    --clr-green:#ADC178;
    --clr-lighttrz:#cefcf6;
    --clr-light-red:#ecc5c5;
    --clr-lightblue:#a6a6e7;


}
/* This is the home page styling */
.index{
    background-color: var(--clr-prim);
}


.head{ 
    background-color: var(--clr-prim);
    margin: 10px;
    position: relative;
}
.title{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: var(--clr-petal-tow);
    width: 30%;
}
.logo{
    position: absolute;
    right: 10px;
    top: 5px;
    background-color: var(--clr-petal-tow);

}


.flowers-continer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}


.flower-box{
    display: inline-block;
    position: relative;
    margin: 20px auto;
    height: 400px;
    width: 500px;
    align-items: center;
    justify-content: center;
    
}
.petal{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 175px;
    height: 175px;
    border: 1px solid var(--clr-petal-center);
    background: linear-gradient(90deg,var(--clr-petal-one),var(--clr-petal-tow));
    border-radius: 75px;
    opacity: 0,8;
}
.one{
    position: absolute;
    top: 10px;
    left:175px;
}
.tow{
    position: absolute;
    top: 80px;
    left:310px;
}
.three{
    position: absolute;
    top: 80px;
    left:40px;
}
.four{
    position: absolute;
    top: 215px;
    left:250px;
}
.five{
    position: absolute;
    top: 215px;
    left:100px;
}
.center{
    text-align: center;
    font-size: 14px;
    width: 120px;
    height: 120px;
    border: 1px solid var(--clr-petal-tow);
    background-color: var(--clr-petal-center);
    color: var(--clr-petal-tow);
    border-radius: 50px;
    opacity: 0,5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 130px;
    left:200px;
   
}
.a-petal{
    letter-spacing: 0,1em;
    transition: 0,5s;
    text-decoration: none;
    color:black;
} 
.a-petal .petal:hover{
    color: var(--clr-petal-tow);
    font-size: 1em;
    font-weight: 400;
    -moz-box-shadow: -5px -5px var(--clr-petal-center);
    -webkit-box-shadow: -5px -5px var(--clr-petal-center);
    box-shadow: -5px -5px var(--clr-petal-center);
   
}

footer{
    margin: 10px;
    position: relative;
}
.foot{
    position: absolute;
    right: 10px;
    background-color: var(--clr-petal-tow);
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.steps{
  width: 200px;
}

.stamp{
    width: 40px;
}








/* This is the projecket01 styling */

.projeckt01{
    background-color: #f0eae5;
}

.nav{
    margin: 1em;
    padding:1em;
}
.nav a > button {
    width: 100px;
    height: 50px;
    background-color: #c5cbda;
    border-radius: 20px;
}


/* the table styling */
.table-head{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-bottom: 2em;
    border: 1px solid #777;
    margin: 1em;
}

.head-text-continer > p{
    padding: 1.5em;
    font-weight: 400;
    border-bottom: #777 1px solid;
    
}

.table-img-continer{
    padding: 1em;
    border: 1px solid #777;
    transform: rotate(5deg);
}
.table-img{
    max-width: 300px;
    transform: rotate(-5deg);
}



.table-container{ 
    background-color: #777;
    color:black;
    display: grid;
    grid-template-columns: 9fr 34fr 32fr 56fr 21fr 26fr 43fr;
    grid-auto-rows: minmax(100px, auto);
    border: #777 1px solid ;
    margin: 1em;
}
.cel{
    background-color: #fff;
    padding: 1em;
    text-align: center;

}
.cell-1{
    grid-column: 1/4;
}
.cell-6{
    grid-row: 2/4;
    position: relative;
    padding: 0;
}

.cell-19{
    grid-row: 4/6;
}


/* Cell color */

.cel{
    border: #777 1px solid ;
}

 .cell-1{
    background-color: var(--clr-green);
 }
.cell-2{
    background-color: var(--clr-yallow);
}
.cell-3{
    background-color: var(--clr-trkwaz);
}
.cell-4{
    background-color: var(--clr-mov);
}
.cell-5 {
    background-color: var(--clr-nahdy);
}




.cell-7 ,.cell-13 , .cell-20 , .cell-26 , .cell-33 , .cell-40 {
    background-color: var(--clr-green);
    border:none;
}


.cell-9, .cell-15, .cell-22, .cell-28, .cell-35 , .cell-42{
    background-color: var(--clr-white);
}

.cell-11 , .cell-17, .cell-24, .cell-30, .cell-37, .cell-44{
    background-color: var(--clr-gray);
}

.cell-12, .cell-18, .cell-25, .cell-31,
 .cell-38, .cell-45, .cell-6, .cell-8,
  .cell-14, .cell-39, .cell-41{
    background-color: var(--clr-blue);
}
.cell-10, .cell-16, .cell-23, .cell-29, .cell-36, .cell-43{
    background-color: var(--clr-lighttrz);
}

.cell-19, .cell-21, .cell-27{
    background-color: var(--clr-light-red);
}

.cell-32, .cell-34{
    background-color: var(--clr-lightblue);
}